<style>
  a {
    color: white;
    text-decoration: none;
  }
</style>
<div class="footer bg-dark text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-4">
        <img src="/assets/images/logo.png" alt="" class="mb-4" />
        <p>&copy; Elite Manor — All rights reserved.</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div class="col-4">
        <h3>Navigation</h3>
        <p class="m-0"><a href="#">Navigation item</a></p>
        <p class="m-0"><a href="#">Navigation item</a></p>
        <p class="m-0"><a href="#">Navigation item</a></p>
        <p class="m-0"><a href="#">Navigation item</a></p>
      </div>
      <div class="col-4">
        <h3>Links</h3>
        <p class="m-0"><a href="#">Link item</a></p>
        <p class="m-0"><a href="#">Link item</a></p>
        <p class="m-0"><a href="#">Link item</a></p>
        <p class="m-0"><a href="#">Link item</a></p>
      </div>
    </div>
  </div>
</div>
