<nav class="navbar navbar-light fixed-top">
  <div class="container py-2">
    <div class="w-100 d-flex justify-content-between">
      <button
        class="navbar-toggler rounded-0 p-3 genie-lg"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand flex-grow-1 text-center m-0 p-0" href="{% link _pages/home.html %}">
        <img
          class="brand-image genie-lg"
          loading="lazy"
          src="{{ 'assets/images/logo-elite-manor-black.svg' | relative_url }}"
          alt="Elite Manor Logo" />
      </a>
      <div class="d-none d-md-flex nav-actions justify-items-end align-items-stretch">
        <a
          target="_blank"
          href="tel:{{ site.telephone_number }}"
          class="genie-lg ms-3 my-auto link-dark">
          <i class="fa fa-2x fa-square-phone"></i>
        </a>
        <a
          target="_blank"
          href="mailto:{{ site.email }}"
          class="genie-lg ms-3 my-auto link-dark">
          <i class="fa fa-2x fa-square-envelope"></i>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav nav-underline my-4 fw-bold align-items-start">
        <li class="nav-item">
          <a class="nav-link border-0 mt-4 mb-0 fs-5">Projects</a>
        </li>
        {% assign pages = site.projects | reverse %}
        {% for page_ in pages %}
          <li class="nav-item{% if page.url == page_.url %} active{% endif %}{% unless page_.navbar_display %} d-none disabled{% endunless %}">
            <a class="pt-0 mb-0 nav-link fw-medium origin-left genie-lg" href="{{ page_.url }}">
              <!-- <i class="fa fa-location-dot"></i> -->
              <span class="notranslate">{{ page_.title }}</span>
              {% if page.url == page_.url %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link border-0 mt-4 mb-0 fs-5">Pages</a>
        </li>
        {% assign pages = site.pages | reverse %}
        {% for page_ in pages %}
          <li class="nav-item{% if page.url == page_.url %} active{% endif %}{% unless page_.navbar_display %} d-none disabled{% endunless %}">
            <a class="pt-0 mb-0 nav-link fw-medium origin-left genie-lg" href="{{ page_.url }}">
              {{ page_.title }}{% if page.url == page_.url %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
        <div class="mt-4 mb-3 py-2 fw-medium" id="gt-mordadam-43217984"></div>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
  var animateNavLogo = function () {
    var currentScroll = $(window).scrollTop();
    // var logoAnchor = $(".brand-image")[0];
    var navbar = $(".navbar")[0];
    var navbarToggler = $(".navbar-toggler")[0];
    // console.log("[animateNavLogo]");
    if (
      currentScroll < 50 &&
      navbarToggler.getAttribute("aria-expanded") === "false"
    ) {
      // logoAnchor.classList.add('at-top');
      navbar.classList.add("navbar-at-top");
    } else {
      // logoAnchor.classList.remove('at-top');
      navbar.classList.remove("navbar-at-top");
    }
  };

  $(document).ready(animateNavLogo);
  $(document).scroll(animateNavLogo);
  $(window).resize(animateNavLogo);
  $(".navbar-toggler").click(animateNavLogo);
</script>

<script type="text/javascript">
  window.gtranslateSettings = window.gtranslateSettings || {};
  window.gtranslateSettings["43217984"] = {
      default_language: "en", // Set Default Language
      languages: [
          "en",
          "th",
          "ru"
      ], // Languages Selected
      wrapper_selector: "#gt-mordadam-43217984", // Element Selected
      native_language_names: 1, // Set All Languages ​​Should Be Native Language From The Beginning
      flag_style: "2d", // Flag Style
      flag_size: 0, // Flag Size
      horizontal_position: "inline", // Set Horizontal Position
      flags_location: "/assets\/images\/flags\/", // Set Flags Location
  };
</script>
<script src="/assets/js/gt.min.js" data-gt-widget-id="43217984"></script>
