<style>
  .navbar-toggler {
    border: none;
    /* border-radius: 0; */
  }
  .navbar {
    background: #111111bf;
  }
  @supports (backdrop-filter: saturate(300%) blur(10px)) or
    (-webkit-backdrop-filter: saturate(300%) blur(10px)) {
    .navbar {
      backdrop-filter: saturate(300%) blur(10px);
      -webkit-backdrop-filter: saturate(300%) blur(10px);
    }
  }
  a {
    color: #ffffffee !important;
  }
</style>
<nav class="navbar navbar-dark fixed-top">
  <div class="container pt-3 pb-3">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand" href="/">
      <img src="assets/images/logo.png" height="60" />
    </a>
    <button
      class="navbar-toggler px-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav nav-underline align-items-end m-2">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link }}" {% if page.url=item.link %}class="current" {% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
  <!-- <div class="container">
  </div> -->
</nav>
<!-- <nav>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url==item.link %}class="current" {% endif %}>{{ item.name }}</a>
    {% endfor %}
</nav> -->
