<nav class="navbar navbar-dark fixed-top">
  <div class="container pt-3 pb-3">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand" href="/">
      <img
        loading="lazy"
        src="{{ 'assets/images/logo.png' | relative_url}}"
        alt="Elite Manor Logo"
        height="60"
      />
    </a>
    <button
      class="navbar-toggler px-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav nav-underline align-items-end m-2">
        {% assign pages = site.pages | reverse %}
        {% for page_ in pages %}
        <li
          class="nav-item{% if page.url == page_.url %} active{% endif %}{% unless page_.navbar_display %} d-none disabled{% endunless %}"
        >
          <a class="nav-link" href="{{ page_.url }}">
            {{ page_.title }}{% if page.url == page_.url %}
            <span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}
        {% assign pages = site.projects | reverse %}
        {% for page_ in pages %}
        <li
          class="nav-item{% if page.url == page_.url %} active{% endif %}{% unless page_.navbar_display %} d-none disabled{% endunless %}"
        >
          <a class="nav-link" href="{{ page_.url }}">
            {{ page_.title }}{% if page.url == page_.url %}
            <span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
