$genie-speed: $default-transform-duration;
$genie-scale: 1.1;
$genie-sm-scale: 1.05;
$genie-lg-scale: 1.2;

.genie {
  transition-duration: $genie-speed;
  transition-property: transform;
}

.genie:hover,
// .genie:hover svg,
.genie:focus
// .genie:focus svg,
// .genie:active
// .genie:active svg
{
  -webkit-transform: scale($genie-scale);
  transform: scale($genie-scale);
}

.genie-sm {
  transition-duration: $genie-speed;
  transition-property: transform;
}

.genie-sm:hover,
.genie-sm:focus
// .genie-sm:active
{
  -webkit-transform: scale($genie-sm-scale);
  transform: scale($genie-sm-scale);
}

.genie-lg {
  transition-duration: $genie-speed;
  transition-property: transform;
}

.genie-lg:hover,
.genie-lg:focus
// .genie-lg:active
{
  -webkit-transform: scale($genie-lg-scale);
  transform: scale($genie-lg-scale);
}

.origin-left {
  transform-origin: left;
}