#hero-container {
  /* margin-top: 128px; */
  // top: -96px;
  height: calc(100vh - 60px - 100px);
  // max-height: 120vw;
  width: 100%;
}

// #hero-container,
// #landing {
//   background-color: #111111;
// }

#hero {
  // background: url("/assets/images/slideshow-01.jpg") center fixed no-repeat;
  // background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  overflow: hidden;
  // display: flex;
  // justify-content: stretch;
  // align-items: stretch;
  // text-align: center;
}

#hero-video {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  object-position: center;
  object-fit: cover;
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100%;
  height: 100%;
}

#landing {
  margin-top: 200px;
}

#hero-scroll-hint {
  height: 60px;
  z-index: -999999;
  transition-property: opacity;
  transition-duration: 0.1s;
}

.lead-card {
//   min-height: 400px;
//   @include media-breakpoint-up(lg) {
//     min-height: 800px;
//   }
  aspect-ratio: 2;
}

.project-card {
  width: 600px;
}

.project-card-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

:root {
	--main-bg-color: #fff;
	--main-text-color: #888888;
}

[data-theme="dark"] {
	--main-bg-color: #1e1f26;
	--main-text-color: #ccc;
}

* {
	box-sizing: border-box;
	/* 		transition: all ease 0.2s; */
}

// body {
// 	margin: 0;
// 	height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	align-items: center;
// 	font-size: 16px;
// 	background-color: var(--main-bg-color);
// 	position: relative;
// 	transition: all ease 0.2s;
// }
// .page-header {
// 	font-size: 2rem;
// 	color: var(--main-text-color);
// 	padding: 2rem 0;
// 	font-family: monospace;
// 	text-transform: uppercase;
// 	letter-spacing: 4px;
// 	transition: all ease 0.2s;
// }

.clock {
	min-height: 18em;
	min-width: 18em;
  margin-left: -1em;
  margin-right: -1em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	background-image: url("https://imvpn22.github.io/analog-clock/clock.png");
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	border: 4px solid var(--main-bg-color);
/* 	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
		inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
		inset 0 15px 15px rgba(0, 0, 0, 0.3); */
	transition: all ease 0.2s;
  scale: .75;
}
.clock:before {
	content: "";
	height: 0.75rem;
	width: 0.75rem;
	background-color: var(--main-text-color);
	border: 2px solid var(--main-bg-color);
	position: absolute;
	border-radius: 50%;
	z-index: 1000;
	transition: all ease 0.2s;
}
.hour,
.min,
.sec {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	// transition: all ease 0.5s;
}
.hour {
	height: 10em;
	width: 10em;
}
.hour:before {
	content: "";
	position: absolute;
	height: 50%;
	width: 6px;
	background-color: var(--main-text-color);
	border-radius: 6px;
}
.min {
	height: 12em;
	width: 12em;
}
.min:before {
	content: "";
	height: 50%;
	width: 4px;
	background-color: var(--main-text-color);
	border-radius: 4px;
}
.sec {
	height: 13em;
	width: 13em;
}
.sec:before {
	content: "";
	height: 60%;
	width: 4px;
	background-color: var(--bs-primary);
	border-radius: 4px;
}

/* Style for theme switch btn */
.switch-cont {
	margin: 2em auto;
	/* position: absolute; */
	bottom: 0;
}
.switch-cont .switch-btn {
	font-family: monospace;
	text-transform: uppercase;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	border: 1px solid var(--main-text-color);
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all ease 0.3s;
}


// body, html {
// max-height: 100vh;
// overflow-y: scroll;
// scrollbar-width: 0;
// scroll-snap-type: y mandatory;
// }

// #hero-container, #home-content-container {
//   scroll-snap-align: start start;
// }
