#hero-container {
  /* margin-top: 128px; */
  // top: -96px;
  height: calc(100vh - 60px);
  // max-height: 120vw;
  width: 100%;
}

// #hero-container,
// #landing {
//   background-color: #111111;
// }

#hero {
  // background: url("/assets/images/slideshow-01.jpg") center fixed no-repeat;
  // background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  overflow: hidden;
  // display: flex;
  // justify-content: stretch;
  // align-items: stretch;
  // text-align: center;
}

#hero-video {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  object-position: center;
  object-fit: cover;
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100%;
  height: 100%;
}

#landing {
  margin-top: 200px;
}

#hero-scroll-hint {
  height: 60px;
  z-index: -999999;
  transition-property: opacity;
  transition-duration: 0.1s;
}

.lead-card {
  min-height: 400px;
  @include media-breakpoint-up(lg) {
    min-height: 800px;
  }
}

.project-card {
  width: 600px;
}

.project-card-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

// body, html {
// max-height: 100vh;
// overflow-y: scroll;
// scrollbar-width: 0;
// scroll-snap-type: y mandatory;
// }

// #hero-container, #home-content-container {
//   scroll-snap-align: start start;
// }
