$navbar-background-color: rgba(255, 255, 255, 0.7);
$navbar-min-height: 90px;

.navbar {
  transition: background-color;
  transition-duration: $default-transform-duration;
  min-height: $navbar-min-height;

  &:not(.navbar-at-top) {
    background-color: $navbar-background-color;
  }

  &.navbar-at-top {
    background: none;
    .icon-bar {
      // filter: invert(1);
    }
    .nav-actions {
      filter: invert(1);
    }
  }
}

@supports (backdrop-filter: saturate(250%) blur(10px)) or
  (-webkit-backdrop-filter: saturate(250%) blur(10px)) {
  .navbar {
    &:not(.navbar-at-top) {
      backdrop-filter: saturate(250%) blur(10px);
      -webkit-backdrop-filter: saturate(250%) blur(10px);
    }
  }
}

.glink {
  color: #000000a6 !important;
  img {
    margin-right: 5px !important;
  }
}

.gt_languages {
  flex-flow: column !important;
  max-height: none !important;
}

.gt_white_content {
  height: fit-content !important;
}

.navbar a {
  padding-bottom: 0;
  margin-bottom: 10px;
}

.nav-item.active .nav-link {
  border-bottom-color: currentcolor;
}

.nav-underline .nav-link {
  transition-property: all;
  transition-duration: $default-transform-duration;
}

$brand-image-height: 45px;

.brand-image {
  transition-property: all !important;
  transition-duration: $default-transform-duration;
  height: $brand-image-height;
}

.navbar-at-top .brand-image {
  height: 1.25 * $brand-image-height;
  filter: invert(1);
}

.navbar-at-top .navbar-toggler {
  background-color: transparent;
}

.navbar-at-top .icon-bar {
  background-color: white !important;
}

// Navbar toggler button state transition animation
.navbar-toggler {
  border: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &[aria-expanded="true"] {
    .icon-bar {
      &:nth-of-type(1) {
        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        // -webkit-transform-origin: 10% 10%;
        // -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
      }
      &:nth-of-type(2) {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      &:nth-of-type(3) {
        // -webkit-transform: rotate(-45deg);
        // -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        // -webkit-transform-origin: 10% 90%;
        // -ms-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
      }
    }
  }
  .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: $dark;
    transition: all $default-transform-duration;
    & + .icon-bar {
      margin-top: 4px;
    }
    &:nth-of-type(1) {
      // -webkit-transform: rotate(0);
      // -ms-transform: rotate(0);
      transform: rotate(0);
    }
    &:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    &:nth-of-type(3) {
      // -webkit-transform: rotate(0);
      // -ms-transform: rotate(0);
      transform: rotate(0);
    }
  }
}
