.navbar-toggler {
  border: none;
  /* border-radius: 0; */
}

.navbar {
  background: #111111bf;
}

@supports (backdrop-filter: saturate(300%) blur(10px)) or
  (-webkit-backdrop-filter: saturate(300%) blur(10px)) {
  .navbar {
    backdrop-filter: saturate(300%) blur(10px);
    -webkit-backdrop-filter: saturate(300%) blur(10px);
  }
}

a {
  color: #ffffffee !important;
}
