---
layout: default
---

<div class="container-fluid p-0">
  <img class="w-100" src="{{ page.hero_image | relative_url }}" alt="" />
</div>
<section class="container my-5">
  <div class="row">
    <article class="col-12 main-content d-flex flex-column align-items-start">
      <img class="mb-2" src="{{ page.logo }}" alt="{{ page.name }} logo" height="120"/>
      <h1 class="mb-3">{{ page.tagline }}</h1>
      <div class="main-content">{{ content }}</div>
    </article>
    <div class="col-12 mt-5">
      <h1 class="text-primary">Gallery</h1>
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        {% for album in page.albums %}
        <li class="nav-item" role="presentation">
          <button
            class="nav-link rounded-0 fw-bold{% if forloop.first %} active{% endif %}"
            id="pills-{{ album.name | downcase }}-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-{{ album.name | downcase }}"
            type="button"
            role="tab"
            aria-controls="pills-{{ album.name | downcase }}"
            aria-selected="true"
          >
            {{ album.name }}
          </button>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content bg-dark" id="pills-tabContent">
        {% for album in page.albums %}
        <div
          class="tab-pane fade{% if forloop.first %} show active{% endif %}"
          id="pills-{{ album.name | downcase}}"
          role="tabpanel"
          aria-labelledby="pills-{{ album.name | downcase}}-tab"
          tabindex="0"
        >
          <div class="container bg-dark px-4">
            <div class="row py-2">
              {% for image in album.images limit: 6 %}
              <img
                loading="lazy"
                class="col-12 col-lg-4 my-2 px-2"
                src="{{ image }}"
                alt=""
                height="300px"
                style="object-fit: cover"
              />
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
